# Copyright 2020 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
Makefile text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.csh text eol=lf
*.h text eol=lf
*.json text eol=lf
*.md text eol=lf
*.pem text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.txt text eol=lf
