# IDE
.vscode/

# build files
common/sgx_workload/build/
common/sgx_iohandler/build/
config/Kv_Shared_tmp
config/Kv_Shared_tmp-lock
enclave.pem
examples/apps/build/
examples/common/python/build/
examples/common/python/connectors/direct/tcs_listener/__pycache__/
examples/common/python/crypto/crypto.py
examples/common/python/crypto/crypto_wrap.cpp
examples/common/python/verify_report/verify_report.py
examples/common/python/verify_report/verify_report_wrap.cpp
examples/common/python/dist/
examples/common/python/tcf_examples_common.egg-info/
examples/enclave_manager/build/
examples/enclave_manager/dist/
examples/enclave_manager/tcf_enclave_manager.egg-info/
examples/enclave_manager/tcf_enclave_manager/__pycache__/
examples/enclave_manager/tcf_enclave_manager/tcf_enclave.py
examples/enclave_manager/tcf_enclave_manager/tcf_enclave_wrap.cpp
tc/sgx/common/build/
tc/sgx/trusted_worker_manager/enclave/build/
tc/sgx/trusted_worker_manager/enclave/deps/
tc/sgx/trusted_worker_manager/enclave_wrapper/enclave_u.c
tc/sgx/trusted_worker_manager/enclave_wrapper/enclave_u.h
tc/sgx/common/verify_ias_report/ias-certificates.cpp
tools/build/_dev/

# test environment runtime files
docs/dev-environments/besu/besu/node1/database
docs/dev-environments/besu/besu/node1/DATABASE_METADATA.json
docs/dev-environments/besu/besu/node2/database
docs/dev-environments/besu/besu/node2/DATABASE_METADATA.json

# Byte-compiled / optimized / DLL files
__pycache__/

.gradle
examples/common/java/*/*/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
examples/common/java/*/*/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

examples/common/java/direct/worker/src/main/java/org/eea/tcf/worker/utils/version/Version.java

examples/common/java/*/bin/
.vscode/
.DS_Store

