{
  "workOrders": [
    {
      "workloadId":"python-{{ my_workload }}",
      "params": ""
    },
    {
      "workloadId":"python-{{ my_workload }}",
      "params": ""
    },
    {
      "workloadId":"python-{{ my_workload }}",
      "params": ""
    },
    {
      "workloadId":"python-{{ my_workload }}",
      "params": ""
    },
    {
      "workloadId":"python-{{ my_workload }}",
      "params": ""
    }

  ]
}

